@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .img-container > div {
        position: unset !important;
    }
    .img {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }

    .navbar-link {
        @apply self-stretch flex items-center px-3 rounded-sm border border-transparent 
            cursor-pointer hover:border-white transform duration-150 ease-in-out
    }

    .navbar-item {
        @apply self-stretch flex items-center px-2 rounded-sm border border-transparent 
            cursor-pointer hover:border-white transform duration-150 ease-in-out
    }

    .button {
        @apply p-2 text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300
            rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500 active:to-yellow-400
    }
}
